function myTriangle() {
    var side1 =document.getElementById("number").value;
    alert(side1);
    var side2 =document.getElementById("decimal").value;
    alert(side2);
    var side3=document.getElementById("integer").value;
    alert(side3);
}

    
   
